*{
    padding: 0px;
    margin: 0px; 
 }
 ::-webkit-scrollbar {
     width: 20px;
   }
 
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px rgb(218, 107, 107); 
     border-radius: 10px;
   }
      ::-webkit-scrollbar-thumb {
     background: brown; 
     border-radius: 10px;
   }
   
   ::-webkit-scrollbar-thumb:hover {
     background: red; 
   }
 #bo1 {
     margin: 0px;
     background-image: url(../photo/giphy.gif);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     background-attachment: fixed;
 }
 
 #bo2 {
     margin: 0px;
     background-image: url(../photo/4sld.gif);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
 }
 #bo3 {
    margin: 0px;
    background-image: url(../photo/g411.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#bo4 {
    margin: 0px;
    background-image: url(../photo/b4.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
 #wait{
     width: 100% ;
     height: 100% ;
     display: block ;
     position: fixed ;
     background-color: white;
     z-index: 10;
     top: 0px;
 }
 .loader {
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid brown;
     width: 120px;
     height: 120px;
     -webkit-animation: spin 2s linear infinite; /* Safari */
     animation: spin 2s linear infinite;
     position: absolute;
     top: 40%;
     left: 40%;
     transform: translate(-50%, -50%);
   }
   
   /* Safari */
   @-webkit-keyframes spin {
     0% { -webkit-transform: rotate(0deg); }
     100% { -webkit-transform: rotate(360deg); }
   }
   
   @keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
   }

 
 #up1{
     width: 100px;
     height: 100px;
     position: fixed;
     bottom: 0px;
     right: 0px;
     cursor: pointer;
     display: none;
     overflow-x:hidden;
  
 }


 #navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 3;
     top: 0;
     left: 0;
     background-color:brown;
     overflow-x: hidden;
     transition: 1s;
     padding-top: 60px;
   }
   .sidenav:hover{
       box-shadow: 10px 10px 10px 10px rgb(196, 82, 82);
   }
   
   .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: white;
     display: block;
     transition: 0.3s;
     float: right;
   }
   
   .sidenav a:hover {
     color: black;
   }
   
   .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }
   
 
 #sld1 {
     background-color: black;
     width: 100%;
     height: 750px;
     border-radius: 50%;
 
 }
 
 #sld1:hover {
     background-color: brown;
     box-shadow: 15px 15px 15px black;
 
 }
 
 #ss1 {
     width: 100%;
     height: 700px;
     display: block;
     border-bottom-left-radius: 10%;
     border-bottom-right-radius: 10%;
 
 }
 
 #ss2 {
     width: 100%;
     height: 700px;
     display: none;
     border-bottom-left-radius: 10%;
     border-bottom-right-radius: 10%;
 
 }
 
 #ss3 {
     width: 100%;
     height: 700px;
     display: none;
     border-bottom-left-radius: 10%;
     border-bottom-right-radius: 10%;
 }
 
 #ss4 {
     width: 100%;
     height: 700px;
     display: none;
     border-bottom-left-radius: 10%;
     border-bottom-right-radius: 10%;
 }
 
 .ss {
     width: 15px;
     height: 15px;
     display: inline-flex;
     margin-top: 5px;
     background-color: brown;
     border-color: white;
     border-radius: 15px;
     margin-left: 10px;
 }
 
 .ss:hover {
     background-color: black;
     cursor: pointer;
 }
 
 .c1 {
     font-size: 20px;
     color: white;
     margin: 0px;
 }
 
 #c1 {
     display: block;
 }
 
 #c2 {
     display: none;
 }
 
 #c3 {
     display: none;
 }
 
 #c4 {
     display: none;
 }
 
 
 /*index*/
 
 
 .grid1 {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 20px;
     width: 100%;
     height: auto;
     background-color: white;
     display: none;
     margin-top: 0px !important;
 }
 
 .wa1 {
     width: 100%;
     height: 500px;
     background-color: white;
     cursor: pointer;
 }
 .wa1:hover {
     box-shadow: 10px 10px 10px 10px rgb(197, 110, 110);
 }
 
 .wa {
     width: 100%;
     height: 350px;
     border-bottom-left-radius: 30%;
 }
 
 .grid2 {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;
     width: 100%;
     height: auto;
     background-color: white;
     display: none;
     margin-top: 0% !important;
 }
 
 .we1 {
     width: 100%;
     height: 500px;
     background-color: white;
     cursor: pointer;
 }
 .we1:hover {
     box-shadow: 10px 10px 10px 10px rgb(197, 110, 110);
 
 }
 
 
 .we {
     width: 100%;
     height: 500px;
     border-radius: 25%;
 }
 
 .wep {
     width: 100%;
     height: 100%;
     background-color: white;
     cursor: pointer;
 
 }
 .wep:hover{
     box-shadow: 10px 10px 10px 10px rgb(197, 110, 110);
 
 }
 .wepp {
     width: 100%;
     height: 100%;
     border-radius: 20%;
 }
 
 #sga {
     width: 200px;
     height: 100px;
     position: absolute;
     top: 50%;
     right: 35%;
     transform: translate(-50%, -50%);
     cursor: pointer;
     color: white;
     background-color: brown;
     border-radius: 100px;
     font-size: 30px;
     border-style: double;
 }
 
 #sga:hover {
     color: brown;
     background-color: white;
     font-size: 35px;
     border-color: black;
     border-style: solid;
     border-width: 4px;
 }
 
 #sge {
     width: 200px;
     height: 100px;
     position: absolute;
     top: 50%;
     left: 35%;
     transform: translate(-50%, -50%);
     cursor: pointer;
     color: white;
     background-color: brown;
     border-radius: 100px;
     font-size: 29px;
     border-style: double;
 }
 
 #sge:hover {
     color: brown;
     background-color: white;
     border-color: black;
     border-style: solid;
     border-width: 4px;
 }
 
 #ve1 {
     display: none;
     width: 40%;
     height: 400px;
     margin-left: 7%;
     margin-right: 20px;
     margin-top: 20px;
     cursor: pointer;
     background-color: #5697d9;
 
 }
 
 #ve2 {
     display: none;
     width: 40%;
     height: 400px;
     margin-right: 7%;
     cursor: pointer;
     margin-top: 20px;
     background-color: #009950;
 
 }
 #ve3 {
     display: none;
     width: 50%;
     height: 400px;
     margin-left: 25%;
     cursor: pointer;
     margin-top: 20px;
 
 }
 .cwa{
     width: 30%;
     height: 140px;
     margin-left: 2%;
     display: inline;
     border-radius: 50px;
 
 }
 
 #mq1{
     width: 100%;
     display: none;
     margin: 0%;
     z-index: 2;
 }
 #mqi1{
     width: 150px;
     height: 150px;
     margin: 0%;
 }
 #imh1{
     width: 200px;
     height: 100px;
     position: relative;
     margin: 0px;
     animation-name: example;
     animation-duration: 10s;
     animation-iteration-count: infinite;
     z-index: 5;
 }
 
   
   @keyframes example {
     0%   { left:0px; top:0px;}
     25%  {left:80%; top:0px;transform: rotate(0deg);}
     50%  {left:80%; top:800px; transform:scaleX(-1);}
     75%  {left:0px; top:800px; transform:scaleX(-1);}
     100%  {left:0px; top:0px;transform:scaleX(1);}
   }
 
 
   .grid3{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 10px;
     background-color: white;
     margin-top: 0px;
     height: auto;
     display: none;
 }
 .grid3 div{
     width: 100%;
     height: 400px;
     background-color: white;
     cursor: pointer;
 }
 
 .grid3 div img{
     width: 100%;
     height: 400px;
 }
 .grid3 div:hover {
     box-shadow: 10px 10px 10px 10px rgb(197, 110, 110);
 }
 #mqi2{
     width: 100%;
     margin: 0%;
     height: 120px;
     display: none;
     
 }
 #mq2{
     width: 150px;
     height: 120px;
     position:absolute;
     margin: 0%;
     z-index: 2;
 }
 
 
 
 
 
 #number {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
    background-color: brown;
    border-radius: 100px;
    font-size: 30px;
    border-style: double;
}

#number:hover {
    color: brown;
    background-color: white;
    font-size: 35px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

#arithmetic {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
    background-color: brown;
    border-radius: 100px;
    font-size: 29px;
    border-style: double;
}

#arithmetic:hover {
    color: brown;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

 
 
 
 
.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
        height: auto;
        background-color: white;
        margin: 0px;
        display: none;
        }
        .grid4 div{
           width: 100%;
     height: 400px;
     background-color: white;
     cursor: pointer;
        }
        .grid4 div img{
     width: 100%;
     height: 300px;
 }
 .grid4 div:hover {
     box-shadow: 10px 10px 10px 10px rgb(197, 110, 110);
     color: brown;
 }
   
        .grid4 div p{
            font-size: 30px;
            margin-top: 30px;
            margin-left: 40%;
            
        }  
        #dn{
            width: 100%;
            height: auto;
            font-size: 30px; 
            background-color: white;
            margin: 0px;
            display: none;
        }
        #dn p{
            display: inline-flex;
            margin: 25px;
            color: red;
        }
        #dn p:hover{
            color: black;
            cursor: pointer;
        }
        #bhs{
            width: 200px;
            height: 50px;
            font-size: 20px;
            margin: 0px;
            margin-top: 30px;
            margin-left: 40%;
            border-radius: 20px 40px;
            border-color: white;
            border-style: dashed;
            cursor: pointer;
            background-color: black;
            color: white;
            display: none;
        }
        #bhs:hover{
            font-size: 25px;
            border-color: brown;
            background-color: white;
            color: black;
        }
         #bhh{
            width: 200px;
            height: 50px;
            font-size: 20px;
            margin: 0px;
            margin-top: 30px;
            margin-left: 40%;
            border-radius: 20px 40px;
            border-color: white;
            border-style: dashed;
            cursor: pointer;
            background-color: black;
            color: white;
             display: none;
             display: none;
        }
        #bhh:hover{
            font-size: 25px;
            border-color: brown;
            background-color: white;
            color: black;
        }
    
 
 
 #contener1{
     width: 100%;
     height: 100%;
     position:absolute;
     display: none;
 }
 #contener2{
    width: 100%;
    height: 100%;
    position:absolute;
    display: none;
}
#contener2 label{
    font-size: 40px;
    display: block;
    margin-top: 20px;
    color: black;
}
#contener2 input{
    font-size: 40px;
    width: 50%;
    height: 50px;
    display: block;
    margin-top: 10px;
    border-color: brown;
    border-radius: 20px 0px 20px 0px;
    border-style: double;
}
#contener2 button{
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: brown;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 50px;
    border-color: black;
    border-width: 2px;
    border-style: dotted;
}
#contener2 button:hover{
    color: black;
    background-color: white;

}

#contener2 p{
    font-size: 40px;
    margin-top: 20px;
    color: black;
}
 #dq1{
     width: 50%;
     height: auto;
     background-color: white;
     margin-top: 150px;
     margin-left: 25%;
     border:none; 
     border-radius: 20px 20px 30px 30px ;
 }
 .tiq1{
     font-size: 40px;
     color: black;
     margin-top: 10px;
 }
 .qq1{
     width: 100%;
     height: 100px;
     background-color: white;
     display: inline-flex;
     margin-top: 50px;
 }
 
 .qp{
     font-size: 40px;
     margin-top: 20px;
     margin-left: 100px;
 }
 .qim{
     width: 150px;
     height: 100px;
     margin-left: 30%;
     border-radius: 20px;
 }
 .playq{
    width: 50px;
    height: 50px;
    color: white;
    background-color: brown;
    margin-left: 50px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    border-color: red;
 }
 .playq:hover{
     background-color: white;
     color: brown;
     border-color: black;
 }
 .qa1{
     width: 100%;
     height: 100px;
     display: inline-flex;
     background-color: white;
 }
 
 .qa1 img{
     width: 100px;
     height: 100px;
     margin-left: 130px;
     border-radius: 10px;
     cursor: pointer;
 }

 .qa1 img:hover{
    border: 2px solid; 
}


#q2lsw {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
    background-color: brown;
    border-radius: 100px;
    font-size: 25px;
    border-style: double;
    z-index: 1;
}

#q2lsw:hover {
    color: brown;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

#q2nsw {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
    background-color: brown;
    border-radius: 100px;
    font-size: 25px;
    border-style: double;
    z-index: 1;
}

#q2nsw:hover {
    color: brown;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

.d5{
    position:relative;
    width: 1000px;
    height: 750px;
    margin-left: 250px;
    margin-top: 200px;
    }
    .d6{
    position: absolute;
    background-color: white;
    width: 43%;
    height: 73.5%;
    opacity: 0.7;
    margin-top: 200px;
    right: 0px;
    z-index: 50;
    border-radius:100px;
    border: none;
    }
    .d7{
    position: absolute;
    width: 700px;
    height: 750px;
    z-index: 20;
    background-color: rgb(235, 137, 137);
    border-radius: 5px 10px 5px 10px;
    border: none;
    opacity: 0.9;
    }
    .img2{
    position: absolute;
    width: 700px;
    height: 750px;
    }
    .p5{
    margin-top: 50px;
    font-size: 25px;
    margin-left: 30px;
    }
    .h2{
    margin-top: 50px;
    }
   
 @media screen and (max-width: 1000px) {
 
    

    
        .d5{
        width: 800px;
        height: 600px;
        margin-left: 100px;
        margin-top: 250px;
        }
        .d6{
        width: 40%;
        height: 84%;
        margin-top: 100px;
        }
        .d7{
        width: 700px;
        bottom: 0px;
        }
        .img2{
        width: 700px;
        height: 600px;
        }
      
        .h2{
        margin-left: 30px;
        }
    
     .grid1 {
         grid-template-columns: repeat(2, 1fr);
         grid-gap: 20px;
     }
     
 
     #sga {
         right: 20%;
       
     }
     
     
     #sge {
 
         left: 30%;
         
     }
     
     #imh1{
         width: 150px;
        
     }
     
       
       @keyframes example {
         0%   { left:0px; top:0px;}
         25%  {left:70%; top:0px;transform: rotate(0deg);}
         50%  {left:70%; top:700px; transform:scaleX(-1);}
         75%  {left:0px; top:700px; transform:scaleX(-1);}
         100%  {left:0px; top:0px;transform:scaleX(1);}
       }
       .grid3{
         grid-template-columns: repeat(2, 1fr);
     }
     
     
     #number {
        right: 20%;
      
    }
    
    
    #arithmetic {

        left: 30%;
        
    }
    #dq1{
        width: 70%;
        margin-top: 100px;
        margin-left: 15%;
    }
    .tiq1{
        font-size: 30px;
    }
    .qp{
        margin-left: 50px;
    }
    .qim{
        margin-left: 20%;
    }
    .qa1 img{
        margin-left: 100px;
    }





    #q2lsw {
       
        right: 20%;
      
    }
    #q2nsw {
     
        left: 30%;
       
    }
    












 }
 
 @media screen and (max-width: 600px) {
 
  
   
    .d5{
        width: 100%;
        height: 750px;
        margin-left: 0px;
        margin-top: 250px;
        }
        .d6{
        position: absolute;
        background-color: white;
        width: 60%;
        height: 73.5%;
        opacity: 0.7;
        margin-top: 200px;
        right: 0px;
        z-index: 50;
        border-radius:100px;
        border: none;
        }
        .d7{
        position: absolute;
        width: 70%;
        height: 750px;
        }
        .img2{
        position: absolute;
        width: 100%;
        height: 750px;
        }
        
        


     .loader {
         top: 30%;
         left: 30%;
       }
 
 #h1r{
     margin-top: 20% !important;
     margin-left: 30% !important;
 }

 
     .ss {
         margin-left: 10px;
         width: 20px;
         height: 20px;
     }
 
     #sld1 {
         border-radius: 20%;
         height: 700px;
     }
 
     #ss1 {
         height: 600px;
     }
 
     #ss2 {
         height: 600px;
     }
 
     #ss3 {
         height: 600px;
     }
 
     #ss4 {
         height: 600px;
     }
     
     
     #sga {
     width: 100px;
     height: 100px;
     right: 10%;
     font-size: 20px;
 }
 
 #sga:hover {
     font-size: 25px;
 }
 
 #sge {
     width: 100px;
     height: 100px;
     left: 30%;
     font-size: 20px;
 }
 
 #sge:hover {
     font-size: 25px;
 
 }
 
     
     
     .grid1 {
     grid-template-columns: repeat(2, 1fr);
 }
 
     
     
     
     
     
     .grid2 {
     grid-template-columns: repeat(1, 1fr);
 }
 .grid3{
     grid-template-columns: repeat(1, 1fr);
 }
 
 
 
 .wep {
     height: 500px;
 
 }
 
     
     #ve1 {
     width: 100%;
     height: 500px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 5px;
 }
 
 #ve2 {
     width: 100%;
     height: 500px;
     margin-right: 0px;
     margin-top: 5px;
 
 }
 
 
 .cwa{
     width: 30%;
     height: 140px;
     margin-left: 1%;
     display: inline;
     border-radius: 50px;
 
 }
    
     
 #imh1{
     width: 100px;
 }
 
   
   @keyframes example {
     0%   { left:0px; top:0px;}
     25%  {left:70%; top:0px;transform: rotate(0deg);}
     50%  {left:70%; top:500px; transform:scaleX(-1);}
     75%  {left:0px; top:500px; transform:scaleX(-1);}
     100%  {left:0px; top:0px;transform:scaleX(1);}
   }
 
 
   #ve3 {
     width: 100%;
     height: 400px;
     margin-left: 0px;
 
 }
     
 #number {
    width: 100px;
    height: 100px;
    right: 10%;
    font-size: 20px;
}

#number:hover {
    font-size: 25px;
}

#arithmetic {
    width: 100px;
    height: 100px;
    left: 30%;
    font-size: 20px;
}

#arithmetic:hover {
    font-size: 25px;

}

.grid4 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
        }
      
 
   
        .grid4 div p{
            font-size: 15px;
            margin-top: 10px;
            
        }  
        #dn{
            font-size: 25px; 
        }

#bhs{
    margin-left: 30%;
} 

 #bhh{
     margin-left: 30%;

}

#bhs:hover{
    font-size: 15px;
} 
#bhh:hover{
    font-size: 15px;
} 
#dq1{
    width: 90%;
    margin-left: 5%;
    margin-top: 120px;
}
.tiq1{
    font-size: 30px;
}
.qp{
    font-size: 30px;
    margin-left: 10px;
}
.qim{
    margin-left: 50px;
    width: 130px;
}
.playq{
   margin-left: 5px;
}
.qa1 img{
    margin-left: 40px; 
}





    #q2lsw {
    width: 100px;
    height: 100px;
    right: 10%;
    font-size: 18px;
      
    }
    #q2nsw {
        width: 100px;
        height: 100px;
        left: 30%;
        font-size: 18px;
       
    }
 }